--- # Dummy config file for testing

# Optional Parameters
  ASCII_file_specs: # The specifications for the ascii file type measurements files
    header_lines: 19
    measurement_description: 20
    units_line: 21
    data_start: 22
    

  Files:
    - ".\\testdata\\Stripfile_1.txt"
    - ".\\testdata\\Stripfile_2.txt"
    - ".\\testdata\\Stripfile_3.txt"
    
  Output: ".\\testdata\\test_export"
  xml_template_path: ".\\CONFIGS\\CMSxmlTemplate.yml"
  Save_as:
    - png
    - html
    - json
    - xml

  Analysis:
    - Stripscan
    - bad_strip_detection

# Optional Parameters

  # Options for the different Analyses scripts
  # These options are entirely up to you and what you need in your analysis
  
  # Converts all arrays to their absolute
  abs_value_only: False
  override_data: True
  
  Measurement_aliases:
      Temperature: temp
      Humidity: hum

  Stripscan:
      General: # Options common to all plots
          fontsize: {'title': 28, 'labels': 24, 'xticks': 24, 'yticks': 24, 'legend': 11}
          responsive: False
          shared_axes: False
          width: 1200
          height: 700
          padding: !!python/tuple [0, 0.1]
          #legend_position: "bottom_left"
      Layout:
          cols: 1 # How many columns there are, these must the the names of the methods!!! and a valid parameter
          
      AuxOptions:
        concatHistogram:
            bins: 50
            iqr: 0.1
        singleHistogram:
            bins: 50
            iqr: 0.1

      HistogramOptions:
          shared_axes: False
          #alpha: 0.6

      BoxWhiskerOptions:
          shared_axes: False
          box_alpha: 0.3
          width: 1200
          height: 1200

      ViolinOptions:
          shared_axes: False
          box_alpha: 0.3
          width: 1200
          height: 1200

      Temperature:
          PlotLabel: Temperature
          AdditionalPlots:
              - BoxWhisker
          PlotOptions: # These options will directly be passed to the renderer, make sure they are valid. Look into holoviews, what options are supported
              show_grid: False
              xlabel: Pad [#]
              ylabel: Temperature [deg]

      Humidity:
          PlotLabel: Humidity
          AdditionalPlots:
              - BoxWhisker
          PlotOptions: # These options will directly be passed to the renderer, make sure they are valid. Look into holoviews, what options are supported
              show_grid: False
              xlabel: Pad [#]
              ylabel: Humidity [rel%]

      Istrip:
          PlotLabel: Strip Currents
          PlotStyles: # Here you can state some plot types you want to have, possible Options are Curve, Spike, Histogram, if non is stated, curve is selected
              - Scatter
          AdditionalPlots: # If a special plot is stated here it will be plotted. If the plot is specified in the DoSpecialPlots variable!!!
            - Violin
            - concatHistogram
            - Histogram
          UnitConversion: pico
          PlotOptions: # These options will directly be passed to the renderer, make sure they are valid. Look into holoviews, what options are supported
              show_grid: True
              padding: !!python/tuple [0.1, 0.1]
              legend_position: top_left
              gridstyle:
                  grid_line_color: black
                  grid_line_width: 1.5
                  minor_xgrid_line_color: lightgray
                  minor_ygrid_line_color: lightgray
                  xgrid_line_dash: [4, 4]
                  ygrid_line_dash: [10, 4]
              xlabel: Pad [#]
              #ylabel: current [A]
              #ylim: !!python/tuple [0, -800]

      Idiel:
          PlotLabel: Current through dielectric
          PlotStyles: # Here you can state some plot types you want to have, possible Options are Curve, Spike, Histogram, if non is stated, curve is selected
              - Curve
          AdditionalPlots:
              - Violin
              - concatHistogram
          UnitConversion: pico
          PlotOptions: # These options will directly be passed to the renderer, make sure they are valid. Look into holoviews, what options are supported
              padding: !!python/tuple [0.1, 0.1]
              show_grid: True
              legend_position: top_left
              #logy: True
              gridstyle:
                  grid_line_color: black
                  grid_line_width: 1.5
                  minor_xgrid_line_color: lightgray
                  minor_ygrid_line_color: lightgray
                  xgrid_line_dash: [4, 4]
                  ygrid_line_dash: [10, 4]
              xlabel: Pad [#]
              #ylabel: current [A]

      Idark:
          PlotLabel: Total Sensor Current
          UnitConversion: nano
          AdditionalPlots:
              - Violin
              - concatHistogram
          PlotStyles: # Here you can state some plot types you want to have, possible Options are Curve, Spike, Histogram, if non is stated, curve is selected
              - Scatter
          PlotOptions: # These options will directly be passed to the renderer, make sure they are valid. Look into holoviews, what options are supported
              padding: !!python/tuple [0.1, 0.1]
              show_grid: True
              legend_position: bottom_left
              gridstyle:
                  grid_line_color: black
                  grid_line_width: 1.5
                  minor_xgrid_line_color: lightgray
                  minor_ygrid_line_color: lightgray
                  xgrid_line_dash: [4, 4]
                  ygrid_line_dash: [10, 4]
              xlabel: Pad [#]
              #ylabel: current [A]

      Rpoly:
          PlotLabel: Poly-Silicon Resistor Resitance
          UnitConversion: mega
          AdditionalPlots:
              - Violin
              - concatHistogram
          PlotStyles: # Here you can state some plot types you want to have, possible Options are Curve, Spike, Histogram, if non is stated, curve is selected
              - Scatter
          PlotOptions: # These options will directly be passed to the renderer, make sure they are valid. Look into holoviews, what options are supported
              padding: !!python/tuple [0.1, 0.1]
              show_grid: True
              legend_position: bottom_left
              gridstyle:
                  grid_line_color: black
                  grid_line_width: 1.5
                  minor_xgrid_line_color: lightgray
                  minor_ygrid_line_color: lightgray
                  xgrid_line_dash: [4, 4]
                  ygrid_line_dash: [10, 4]
              xlabel: Pad [#]
              #ylabel: resistance [Ohm]
              #ylim: !!python/tuple [0, 2.5]
      Rint:
          PlotLabel: Interstrip Resistance
          UnitConversion: giga
          AdditionalPlots:
              - Violin
              - concatHistogram
          PlotStyles: # Here you can state some plot types you want to have, possible Options are Curve, Spike, Histogram, if non is stated, curve is selected
              - Scatter
          PlotOptions: # These options will directly be passed to the renderer, make sure they are valid. Look into holoviews, what options are supported
              padding: !!python/tuple [0.1, 0.1]
              show_grid: True
              legend_position: bottom_right
              gridstyle:
                  grid_line_color: black
                  grid_line_width: 1.5
                  minor_xgrid_line_color: lightgray
                  minor_ygrid_line_color: lightgray
                  xgrid_line_dash: [4, 4]
                  ygrid_line_dash: [10, 4]
              xlabel: Pad [#]
              #ylabel: resistance [Ohm]
      Cac:
          PlotLabel: Coupling Capacitance
          UnitConversion: pico
          AdditionalPlots:
              - Violin
              - concatHistogram
          PlotStyles: # Here you can state some plot types you want to have, possible Options are Curve, Spike, Histogram, if non is stated, curve is selected
              - Scatter
          PlotOptions: # These options will directly be passed to the renderer, make sure they are valid. Look into holoviews, what options are supported
              padding: !!python/tuple [0.1, 0.1]
              show_grid: True
              legend_position: bottom_left
              gridstyle:
                  grid_line_color: black
                  grid_line_width: 1.5
                  minor_xgrid_line_color: lightgray
                  minor_ygrid_line_color: lightgray
                  xgrid_line_dash: [4, 4]
                  ygrid_line_dash: [10, 4]
              xlabel: Pad [#]
              #ylabel: capacitance [F]
              #ylim: !!python/tuple [120, 160]

      Cint:
          PlotLabel: Interstrip Capacitance
          UnitConversion: pico
          AdditionalPlots:
              - Violin
              - concatHistogram
          PlotStyles: # Here you can state some plot types you want to have, possible Options are Curve, Spike, Histogram, if non is stated, curve is selected
              - Scatter
          PlotOptions: # These options will directly be passed to the renderer, make sure they are valid. Look into holoviews, what options are supported
              padding: !!python/tuple [0.1, 0.1]
              show_grid: True
              #ylim: !!python/tuple [0, 5]
              gridstyle:
                  grid_line_color: black
                  grid_line_width: 1.5
                  minor_xgrid_line_color: lightgray
                  minor_ygrid_line_color: lightgray
                  xgrid_line_dash: [4, 4]
                  ygrid_line_dash: [10, 4]
              xlabel: Pad [#]
              #ylabel: capacitance [F]

  # If you do the bad_strip_detection analysis
  bad_strip_detection:
      General: # Options common to all plots
          fontsize: {'title': 28, 'labels': 24, 'xticks': 24, 'yticks': 24, 'legend': 11}
          width: 1500
          height: 1000

      #legend_position: "bottom_left"
      Layout:
            cols: 1 # How many columns there are, these must the the names of the methods!!! and a valid parameter

      do_holoviews_table: True # A custom parameter only for the plotting script
      Config:
          # General Settings
          fit_cluster_size: 10 # How large should be the cluster size for fitting
          quantile: 0.95 # Quantile for the lms_line fit from Rudi
          remove_outliner: True # Just for plotting important
          outlier_std: 3 # Excludes all values which are outlier compared to the std*n


          # General Parameters
          MeasStripvsTotal: 1.3 # The factor the sum of the strip current can have compared to the total Idark (median)

          ## AC and DC bad needle contact (if not otherwise written, all factors apply to the median of the respective parameter
          Istripfactor: 3 # Factor at which it is considered to be a low Istrip
          Rpolyfactor: 3 # Factor at which it is considered to be a high Rpoly
          Capfactor: 1.5 # Factor at which it is considered to be a out of bounds Cap
          maximumCapOutliner: 30 # Maximum number to look for non optimal/bad DC 1 and 2 needle contact in the Capacitance measurements

          ## Pinhole
          IdielThresholdCurrent: 0.5e-9 # Current at which we say it is charateristic for a pinhole

          ## LMS line fit
          LMSsize: 50 # Clustersize for the lms fit, warning cpu time increases with clustersize!!!

          ## Closeness parameters, is needed for comparisons between values and the lms fit (implant open etc.)
          ## Used equation: absolute(a - b) <= (atol + rtol * absolute(b))
          rtol: 0.35 # The relative tolerance parameter
          atol: 0 # The absolute tolerance parameter (not so important)

          # Threshold factors, factors are applied to the lms fit. So factor 0.5 means with LowCap that everything below 0.5 of the lms fit will be considered
          # Same holds for the high factors but the other way round.
          HighIstrip: 3
          HighRpoly: 2.5
          LowCap: 0.80


          # Pad parameter
          # Parameters {Name of measurement: [Nominal value, -[dmin, dmax], varianz in percent of mean}
          Rpoly:
              - 1500000
              - [1000000, 2000000]
              - 5

          Istrip:
              - -50e-12
              - [-150e-12,0]
              - 10

          Idiel:
              - 1e-12
              - [-0.5e-9,0.5e-9]
              - 20

          Idark:
              - 100e-9
              - [-200e-9, -10e-9]
              - 5.0

          Cint:
              - 0.9e-12
              - [0.6e-12, 1.1e-12]
              - 5

          Rint:
              - 300e9
              - [50e9, 1e12]
              - 50.0

          # AC pad parameters
          Cac:
              - 100e-12
              - [140e-12, 70e-12]
              - 5

          # Termperature
          Temperature:
              - 23
              - [20, 25]
              - 2

          # Humidity
          Humidity:
              - 15
              - [0, 25]
              - 10